<p>
  <strong>Epic Tale:</strong>
  <%= tale.body %>
</p>

<p>
  <strong>Told by:</strong>
  <%= tale.player %>
</p>

<p>
  <%= link_to 'Delete Tale', [tale.character, tale],
    method: :delete,
    data: { confirm: 'Are you sure you want to delete this tale of epicness?' } %>
</p>
