<%= render 'header' %>

<main>
  <div class="container">
    <section>
      <%= link_to 'View characters', controller: 'characters' %> |
      <%= link_to 'Add a new character', new_character_path %>
    </section>
  </div>
</main>
