<%= render 'welcome/header' %>

<main>
  <div class="container">
    <section>
      <h1 class="heading-1">New Character</h1>

      <%= render 'form' %>

      <p class="footer">
        <%= link_to 'Add a new character', new_character_path %> |
        <%= link_to 'Home', '/' %>
      </p>
    </section>
  </div>
</main>
