///BASIC TABLE STYLING
table {
	// @include heading-font-regular;
	border-collapse: collapse;
	width: 100%;
	float: left;
   margin: 0 0 2em;
	thead {
		border-bottom: 3px solid display-color('blue');
		th {
			padding: 0.35em 0 .35em;
      font-weight: 400;
			text-align: left;
			font-size: 1em;
		}

	}

	tbody {
		border-bottom: 3px solid display-color('light-blue');
		tr {
			border-bottom: 2px solid #ddd;

			td {
				padding: .75em 0;
			}
		}
	}

	tfoot {
		td {
			padding: 0.35em 0 .35em;

			text-align: left;
			// @include heading-font-regular;
			font-size: 1.25em;
		}
	}
}

// @media screen and (min-width: $large-up) {
//   table {
// 		width: 100%;
//
// 		thead {
// 			border-bottom: 3px solid $primary-color;
// 			th {
// 			}
//
// 		}
//
// 		tbody {
// 			tr {
// 				border-bottom: 1px solid #ddd;
// 				td {
//
// 				}
// 			}
// 		}
// 	}
// }
